<section>
    <div class="row mt-5" style="margin:0px">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-header" id="card-header">
                    <h3>
                        Lorem ipsum dolor sit amet consectetur
                    </h3>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, mollitia deserunt. Nihil fuga
                    reiciendis cumque culpa, optio adipisci provident quidem. Qui ipsam culpa quisquam similique itaque?
                    Hic eius expedita quis!
                </div>
                <div class="card-footer text-center">
                    <a href="/new/123">
                        <button class="btn btn-secondary">Saiba mais</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-header" id="card-header">
                    <h3>
                        Lorem ipsum dolor sit amet consectetur
                    </h3>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, mollitia deserunt. Nihil fuga
                    reiciendis cumque culpa, optio adipisci provident quidem. Qui ipsam culpa quisquam similique itaque?
                    Hic eius expedita quis!
                </div>
                <div class="card-footer text-center">
                    <a href="/new/123">
                        <button class="btn btn-secondary">Saiba mais</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-header" id="card-header">
                    <h3>
                        Lorem ipsum dolor sit amet consectetur
                    </h3>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, mollitia deserunt. Nihil fuga
                    reiciendis cumque culpa, optio adipisci provident quidem. Qui ipsam culpa quisquam similique itaque?
                    Hic eius expedita quis!
                </div>
                <div class="card-footer text-center">
                    <a href="/new/123">
                        <button class="btn btn-secondary">Saiba mais</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>